# Relatório de Análise V

**Tratamento de Dados Faltantes**

In [1]:
import pandas as pd

In [12]:
dados = pd.read_csv('/content/drive/MyDrive/bases_de_dados/aluguel_residencial.csv', sep=';')
dados.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [13]:
dados.isnull() # retorna um df com True caso a informação seja NaN

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [14]:
dados.notnull() # retorna False para informações nulas

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True  False
4      True    True     True   True    True  True   True       False  False
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
22575  True    True     True   True    True  True   True        True   True
22576  True    True     True   True    True  True   True        True   True
22577  True    True     True   True    True  True   True        True   True
22578  True    True     True   True    True  True   True        True   True
22579  True    True     True   True    True  True   True        True  False

[22580 rows x 9 columns]

In [15]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [16]:
# filtrando os valores Null da variável 'Valor'
dados.query('Valor == "NaN"')

             Tipo           Bairro  Quartos  ...  Valor  Condominio   IPTU
58    Apartamento  Barra da Tijuca        2  ...    NaN       970.0   68.0
1492  Apartamento             Leme        2  ...    NaN       878.0    NaN
1683         Casa     Campo Grande        3  ...    NaN         NaN    NaN
2012  Apartamento         Botafogo        2  ...    NaN      1010.0  170.0
2034  Apartamento       Copacabana        2  ...    NaN       850.0    NaN
4941         Casa     Campo Grande        3  ...    NaN         NaN    NaN
8568  Apartamento             Leme        2  ...    NaN       878.0    NaN
8947  Apartamento           Glória        3  ...    NaN       910.0  228.0
9149  Apartamento            Gávea        3  ...    NaN       880.0  221.0

[9 rows x 9 columns]

In [17]:
# eliminando os valores Null da variável 'Valor'
dados.dropna(subset=['Valor'], inplace=True)
dados

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22571 rows x 9 columns]

In [18]:
# selecionando as variáveis apartamento que possuem condominio como NaN
selecao = dados.query('Tipo == "Apartamento" and Condominio == "NaN"')

dados.drop(selecao.index)

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
5      Apartamento              Cachambi        2  ...  1300.0       301.0  17.0
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[21826 rows x 9 columns]

In [19]:
# substituindo o restante dos valores NaN para 0
dados.fillna(0, inplace=True)
dados

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         0.0   0.0
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   0.0
4      Apartamento          Vista Alegre        3  ...  1200.0         0.0   0.0
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   0.0

[22571 rows x 9 columns]

In [20]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22571 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22571 non-null  object
 1   Bairro      22571 non-null  object
 2   Quartos     22571 non-null  int64
 3   Vagas       22571 non-null  int64
 4   Suites      22571 non-null  int64
 5   Area        22571 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  22571 non-null  float64
 8   IPTU        22571 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [21]:
# exportando para csv
dados.to_csv('aluguel_residencial2.csv', sep=';', index=False)