# Relatório de Análise VI

**Criando novas variáveis**

In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('/content/drive/MyDrive/bases_de_dados/aluguel_residencial2.csv', sep=';')
df.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         0.0   0.0
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   0.0
4         Apartamento     Vista Alegre        3  ...   1200.0         0.0   0.0
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         0.0   0.0
7  Casa de Condomínio            Ramos        2  ...   1000.0         0.0   0.0
8         Apartamento           Centro        1  ...   1200.0         0.0   0.0
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [39]:
# criando a variável 'Valor Bruto'
df['Valor Bruto'] = df.loc[:, ['Valor', 'Condominio', 'IPTU']].sum(axis=1)
df

              Tipo                Bairro  ...  IPTU  Valor Bruto
0        Quitinete            Copacabana  ...  60.0       2260.0
1             Casa       Jardim Botânico  ...   0.0       7000.0
2      Apartamento                Centro  ...  20.0       1210.0
3      Apartamento          Higienópolis  ...   0.0       1030.0
4      Apartamento          Vista Alegre  ...   0.0       1200.0
...            ...                   ...  ...   ...          ...
22566  Apartamento                 Méier  ...  48.0       1438.0
22567    Quitinete                Centro  ...  25.0       1175.0
22568  Apartamento           Jacarepaguá  ...  40.0       2640.0
22569  Apartamento  São Francisco Xavier  ...  37.0       1946.0
22570  Apartamento                Leblon  ...   0.0       3760.0

[22571 rows x 10 columns]

In [40]:
# criando a variável 'Valor do metro quadrado'
df['Valor M²'] = df['Valor'] / df['Area']
df

              Tipo                Bairro  Quartos  ...  IPTU  Valor Bruto   Valor M²
0        Quitinete            Copacabana        1  ...  60.0       2260.0  42.500000
1             Casa       Jardim Botânico        2  ...   0.0       7000.0  70.000000
2      Apartamento                Centro        1  ...  20.0       1210.0  53.333333
3      Apartamento          Higienópolis        1  ...   0.0       1030.0  16.666667
4      Apartamento          Vista Alegre        3  ...   0.0       1200.0  17.142857
...            ...                   ...      ...  ...   ...          ...        ...
22566  Apartamento                 Méier        2  ...  48.0       1438.0  12.857143
22567    Quitinete                Centro        0  ...  25.0       1175.0  29.629630
22568  Apartamento           Jacarepaguá        3  ...  40.0       2640.0  23.076923
22569  Apartamento  São Francisco Xavier        2  ...  37.0       1946.0  29.166667
22570  Apartamento                Leblon        2  ...   0.0       3760.0  42.857143

[22571 rows x 11 columns]

In [41]:
# arredondando os valores de Valor M²
df['Valor M²'] = df['Valor M²'].round(2) 
df

              Tipo                Bairro  Quartos  ...  IPTU  Valor Bruto  Valor M²
0        Quitinete            Copacabana        1  ...  60.0       2260.0     42.50
1             Casa       Jardim Botânico        2  ...   0.0       7000.0     70.00
2      Apartamento                Centro        1  ...  20.0       1210.0     53.33
3      Apartamento          Higienópolis        1  ...   0.0       1030.0     16.67
4      Apartamento          Vista Alegre        3  ...   0.0       1200.0     17.14
...            ...                   ...      ...  ...   ...          ...       ...
22566  Apartamento                 Méier        2  ...  48.0       1438.0     12.86
22567    Quitinete                Centro        0  ...  25.0       1175.0     29.63
22568  Apartamento           Jacarepaguá        3  ...  40.0       2640.0     23.08
22569  Apartamento  São Francisco Xavier        2  ...  37.0       1946.0     29.17
22570  Apartamento                Leblon        2  ...   0.0       3760.0     42.86

[22571 rows x 11 columns]

In [42]:
# criando a variável Valor Bruto M²
df['Valor Bruto M²'] = (df['Valor Bruto'] / df['Area']).round(2)
df.head(10)

                 Tipo           Bairro  ...  Valor M²  Valor Bruto M²
0           Quitinete       Copacabana  ...     42.50           56.50
1                Casa  Jardim Botânico  ...     70.00           70.00
2         Apartamento           Centro  ...     53.33           80.67
3         Apartamento     Higienópolis  ...     16.67           21.46
4         Apartamento     Vista Alegre  ...     17.14           17.14
5         Apartamento         Cachambi  ...     26.00           32.36
6  Casa de Condomínio  Barra da Tijuca  ...     29.33           29.33
7  Casa de Condomínio            Ramos  ...     15.38           15.38
8         Apartamento           Centro  ...     33.33           33.33
9         Apartamento           Grajaú  ...     21.43           31.66

[10 rows x 12 columns]

In [43]:
# separando as variáveis Tipo
casas = ['Casa', 'Casa de Condominio', 'Casa de Vila']

In [44]:
df['Tipo Agregado'] = df['Tipo'].apply(lambda x: 'Casa' if x in casas else 'Apartamento')
df

              Tipo                Bairro  ...  Valor Bruto M²  Tipo Agregado
0        Quitinete            Copacabana  ...           56.50    Apartamento
1             Casa       Jardim Botânico  ...           70.00           Casa
2      Apartamento                Centro  ...           80.67    Apartamento
3      Apartamento          Higienópolis  ...           21.46    Apartamento
4      Apartamento          Vista Alegre  ...           17.14    Apartamento
...            ...                   ...  ...             ...            ...
22566  Apartamento                 Méier  ...           20.54    Apartamento
22567    Quitinete                Centro  ...           43.52    Apartamento
22568  Apartamento           Jacarepaguá  ...           33.85    Apartamento
22569  Apartamento  São Francisco Xavier  ...           40.54    Apartamento
22570  Apartamento                Leblon  ...           53.71    Apartamento

[22571 rows x 13 columns]

**Excluindo variáveis**

*Algumas formas de excluir variáveis de um DF*

In [45]:
dados_aux = pd.DataFrame(df[['Tipo Agregado', 'Valor M²', 'Valor Bruto', 'Valor Bruto M²']])
dados_aux

      Tipo Agregado  Valor M²  Valor Bruto  Valor Bruto M²
0       Apartamento     42.50       2260.0           56.50
1              Casa     70.00       7000.0           70.00
2       Apartamento     53.33       1210.0           80.67
3       Apartamento     16.67       1030.0           21.46
4       Apartamento     17.14       1200.0           17.14
...             ...       ...          ...             ...
22566   Apartamento     12.86       1438.0           20.54
22567   Apartamento     29.63       1175.0           43.52
22568   Apartamento     23.08       2640.0           33.85
22569   Apartamento     29.17       1946.0           40.54
22570   Apartamento     42.86       3760.0           53.71

[22571 rows x 4 columns]

In [46]:
del dados_aux['Valor Bruto']

In [47]:
dados_aux

      Tipo Agregado  Valor M²  Valor Bruto M²
0       Apartamento     42.50           56.50
1              Casa     70.00           70.00
2       Apartamento     53.33           80.67
3       Apartamento     16.67           21.46
4       Apartamento     17.14           17.14
...             ...       ...             ...
22566   Apartamento     12.86           20.54
22567   Apartamento     29.63           43.52
22568   Apartamento     23.08           33.85
22569   Apartamento     29.17           40.54
22570   Apartamento     42.86           53.71

[22571 rows x 3 columns]

In [48]:
dados_aux.pop('Valor Bruto M²')

0        56.50
1        70.00
2        80.67
3        21.46
4        17.14
         ...
22566    20.54
22567    43.52
22568    33.85
22569    40.54
22570    53.71
Name: Valor Bruto M², Length: 22571, dtype: float64

In [49]:
dados_aux

      Tipo Agregado  Valor M²
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     53.33
3       Apartamento     16.67
4       Apartamento     17.14
...             ...       ...
22566   Apartamento     12.86
22567   Apartamento     29.63
22568   Apartamento     23.08
22569   Apartamento     29.17
22570   Apartamento     42.86

[22571 rows x 2 columns]

In [50]:
df.drop(['Valor Bruto', 'Valor Bruto M²'], axis=1, inplace=True)

In [51]:
df

              Tipo                Bairro  Quartos  ...  IPTU  Valor M²  Tipo Agregado
0        Quitinete            Copacabana        1  ...  60.0     42.50    Apartamento
1             Casa       Jardim Botânico        2  ...   0.0     70.00           Casa
2      Apartamento                Centro        1  ...  20.0     53.33    Apartamento
3      Apartamento          Higienópolis        1  ...   0.0     16.67    Apartamento
4      Apartamento          Vista Alegre        3  ...   0.0     17.14    Apartamento
...            ...                   ...      ...  ...   ...       ...            ...
22566  Apartamento                 Méier        2  ...  48.0     12.86    Apartamento
22567    Quitinete                Centro        0  ...  25.0     29.63    Apartamento
22568  Apartamento           Jacarepaguá        3  ...  40.0     23.08    Apartamento
22569  Apartamento  São Francisco Xavier        2  ...  37.0     29.17    Apartamento
22570  Apartamento                Leblon        2  ...   0.0     42.86    Apartamento

[22571 rows x 11 columns]

In [52]:
df.to_csv('aluguel_residencial_atual.csv', sep=';', index=False)