# Relatório de Análise

**Imóveis Residenciais**

In [13]:
import pandas as pd

In [14]:
dados = pd.read_csv('/content/drive/MyDrive/bases_de_dados/aluguel.csv', sep=';')
dados.head()

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [15]:
# criando uma lista com a variável 'Tipo' do dataframe e removendo as duplicatas
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [4]:
# selecionei apenas os imóveis residenciais
residencial =  ['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [5]:
# a função isin verifica se os valores passados por parâmetros estão contido no dataset, caso sim, retorna True
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [6]:
# passando a seleção, será feita uma verificação booleana e retornará somente os imóveis residenciais
dados_residenciais = dados[selecao]
dados_residenciais.head(10)

                  Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0            Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                 Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
3          Apartamento           Centro        1  ...    800.0       390.0  20.0
4          Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
5          Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
6          Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
7   Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
8   Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
10         Apartamento           Centro        1  ...   1200.0         NaN   NaN
11         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [7]:
# organizando os índices novamente
dados_residenciais.index = range(len(dados_residenciais))
dados_residenciais

              Tipo                Bairro  Quartos  ...   Valor  Condominio  IPTU
0        Quitinete            Copacabana        1  ...  1700.0       500.0  60.0
1             Casa       Jardim Botânico        2  ...  7000.0         NaN   NaN
2      Apartamento                Centro        1  ...   800.0       390.0  20.0
3      Apartamento          Higienópolis        1  ...   800.0       230.0   NaN
4      Apartamento          Vista Alegre        3  ...  1200.0         NaN   NaN
...            ...                   ...      ...  ...     ...         ...   ...
22575  Apartamento                 Méier        2  ...   900.0       490.0  48.0
22576    Quitinete                Centro        0  ...   800.0       350.0  25.0
22577  Apartamento           Jacarepaguá        3  ...  1800.0       800.0  40.0
22578  Apartamento  São Francisco Xavier        2  ...  1400.0       509.0  37.0
22579  Apartamento                Leblon        2  ...  3000.0       760.0   NaN

[22580 rows x 9 columns]

# Exportando a base de dados

In [8]:
dados_residenciais.to_csv('aluguel_residencial.csv', sep=';', index=False) # index False pois se eu exportar como True quando for abrir o arquivo novamente irá abrir com os indices duplicados

# EXTRA

**Organizar os dataframes com sort**

In [16]:
# sort_index -> organizar os indices
# sort_values -> organizar os valores do df


dados = [['Ary', 'M', 21], ['Cátia', 'F', 19], ['Carlos', 'M', '50'], ['Beto', 'M', 29], ['Bruna', 'F', 31], ['Ana', 'F', 42]]

df = pd.DataFrame(dados, columns=['Nome', 'Sexo', 'Idade'])

In [17]:
df

     Nome Sexo Idade
0     Ary    M    21
1   Cátia    F    19
2  Carlos    M    50
3    Beto    M    29
4   Bruna    F    31
5     Ana    F    42

In [18]:
df2 = df.sort_values(['Sexo'])
df2

     Nome Sexo Idade
1   Cátia    F    19
4   Bruna    F    31
5     Ana    F    42
0     Ary    M    21
2  Carlos    M    50
3    Beto    M    29

In [19]:
df2.sort_index(axis=1, inplace=True)
df2.index = range(len(df2))
df2

  Idade    Nome Sexo
0    19   Cátia    F
1    31   Bruna    F
2    42     Ana    F
3    21     Ary    M
4    50  Carlos    M
5    29    Beto    M